.seperator{
    background-image: linear-gradient(to left, #d91b87, #c340a0, #a856b0, #8c66b8, #7471b7, #587dc1, #3788c4, #0092c2, #00a3bf, #00b0a4, #00b974, #6abc37);
    height: 6px;
    width: 40%;
    border-radius: 3px;
    margin: 16px 0px;
}