.header {
    display: flex;
    background-color: aquamarine;
    /* puts space at the extreme end of the components/css limit */
    justify-content: space-between;
    flex:1;
    padding: 12px;
    position: relative;
    align-items: center;

}

.menu {
    background-color: white;
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.menu-icon {
    font-size: 24px;
}

.mobile-menu {
    display: none;
}

.web-menu {
    display: flex;
}

.logo {
    display: flex;
    font-size: 36px;
    color: rgb(54, 34, 170);
    font-weight: 800;
}